  <header class="bg-surface border-b border-outline-variant fixed top-0 w-full z-50">
    <div class="flex justify-between items-center w-full px-lg h-16 max-w-container-max mx-auto">
      <div class="flex items-center gap-sm">
        <span class="material-symbols-outlined text-primary text-[24px]" data-icon="school">school</span>
        <span class="text-headline-md font-headline-md text-primary font-bold">EduTools</span>
      </div>
      <nav class="hidden md:flex items-center gap-lg ml-xl">
        <a class="text-label-lg font-label-lg text-on-surface-variant hover:text-primary transition-colors" routerLink="/login">Componentes</a>
        <a class="text-label-lg font-label-lg text-on-surface-variant hover:text-primary transition-colors" routerLink="/dashboard">Repositorio</a>
        <a class="text-label-lg font-label-lg text-on-surface-variant hover:text-primary transition-colors" routerLink="/home">Sandbox</a>
        <a class="text-label-lg font-label-lg text-on-surface-variant hover:text-primary transition-colors" routerLink="/about">Configuración</a>
      </nav>
    </div>
  </header>
